body {
    text-align: center;
    background-color: bisque;
    display: flex;
    flex-direction: column;
}

h3 {
    color: darkgoldenrod;
}

#image {
    height: 30%;
    width: 30%;
    margin: 0 auto;
    border-radius: 40px;
}

#changer {
    width: 20%;
    margin: 1% auto;
    border-radius: 20px;
    background-color: brown;
    color: white;
}